@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

html, body, div, table, tbody, tr, th, td {
    box-sizing: border-box;
    border: 1px black solid;
    padding: 0;
    margin: 0;
    font-family: "Roboto", sans-serif;
}

html, body {
    min-width: 100%;
    min-height: 100%;
}

.x-overflow-scroll {
    overflow-x: scroll;
}

.timetable {
    table-layout: fixed;
    width: fit-content;
}

.timetable-heading {
    width: 5rem;
    text-align: center;
}

.timetable-data {
    position: relative;
}

.period {
    position: absolute;
    text-align: center;
    top: 0px;
}

.intervals {
    position: absolute;
    text-align: center;
    top: 0px;
}
